* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

#login {
    display: grid;
    grid-template-columns: repeat(auto, 2);
}

#form {
    justify-content: center;
    text-align: center;
}

.input {
    border-radius: 5px;
    border: 1px solid slategrey;
}